include COPYING
include README.md
include build_flags.py
include file_handler.py
recursive-include dropbot *
recursive-exclude dropbot *.pyc
recursive-exclude dropbot *.o
recursive-exclude dropbot *.exe
recursive-exclude dropbot .ipynb_checkpoints/*
recursive-exclude dropbot .proto
exclude .DS_Store
