include COPYING
include README.md
include pavement.py
include paver-minilib.zip
include setup.py
recursive-include dropbot *
recursive-exclude dropbot *.pyc
recursive-exclude dropbot *.o
recursive-exclude dropbot *.exe
recursive-exclude dropbot .ipynb_checkpoints/*
recursive-exclude dropbot .proto
