include COPYING
include README.md
include build_flags.py
include file_handler.py
include setup.py
recursive-include dropbot *
recursive-exclude dropbot *.pyc
recursive-exclude dropbot *.o
recursive-exclude dropbot *.exe
recursive-exclude dropbot .ipynb_checkpoints/*
recursive-exclude dropbot .proto
include versioneer.py
include dropbot/_version.py
exclude .DS_Store
recursive-exclude teensy_minimal_rpc .DS_Store
